<section>
    {% trans %}
    <h3 class="myblockclass"> {{ message }}</h3>
    <div class="count">Taglines Generated: {{ count }}</div>
  <div class="output">{{ output }}</div>
    {% endtrans %}
</section>